.page {
    transform: translateZ(-1400px);
    min-height: 100vh;
    background: radial-gradient(78.12% 165.13% at 33.38% 50%, #192DA1 0%, #0C154A 44.45%, #080E33 100%);
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container {
    position: relative;
    min-height: 100vh;
}

.innerLeft {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) translateZ(-1400px);
    opacity: 0;
    width: 50%;
    text-align: center;
}
.innerRight {
    width: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    opacity: 0;
}